body,
html {
    margin: 0px;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial,
    sans-serif, 'Droid Sans Fallback';
    -webkit-text-size-adjust: 100% !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.filecase{
    margin: 10px;
    border: 1px dotted #88f2ff;
    border-radius: 5px;
    padding: 10px;
    background-color: gainsboro;
}

.vergrap{
    margin:20px;
}

.filecase,.fileinput{
    margin: 10px;
    border: 1px dotted #88f2ff;
    border-radius: 5px;
    padding: 10px;
    background-color: gainsboro;
}

.fileinput >input{
    padding:5px 0px;
}

input.text:first-child{
    width: calc(80% - 40px);
    margin-right:20px;
}

input.text:last-child{
    width: calc(20% - 10px);
}

.filecase:active,.active{
    background-color: darkgrey;
    font-size: 17px;
    color: #fff;
}

.filecase button{
    border: none;
    height: 100%;
    width: 100%;
    background: transparent;
    text-align: left;
}

li.left-right{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

li.left-right .filecase{
    margin: 5px 10px;
    padding: 5px;
}

li.left-mid-right .btn-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

li.left-mid-right .btn-wrap .filecase{
    flex: 0 0 30%;
    margin: 5px 10px;
    padding: 5px;
}

.vergrap img{
    margin:10px;
}

select{
    min-width:80px;
    height: 25px;
    margin: 5px 10px;
}

.mark{
    margin:10px;
}

.two-one{
    width:calc(96% - 20px);
    margin:10px;
    height:25px;
}

.toolbar{
    position: fixed;
    height: 40px;
    width: 155px;
    right: 0px;
    top:50%;
    background-color: #F4F8F4;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.tb-right{
    background: transparent url("../img/right.png") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 10px;
    display: inline-block;
    margin-right: 10px;
}

.tb-left{
    background: transparent url("../img/left.png") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 10px;
    display: inline-block;
    margin-right: 10px;
}

.tb-left:hover{
    width: 12px;
}

.tb-right:hover{
    width: 12px;
}

.tb-junit{
    background: transparent url("../img/junit.png") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0px 10px;
}

.tb-step{
    background: transparent url("../img/step.png") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0px 10px;
}

.tb-junit:hover{
    width: 32px;
}

.tb-loading{
    background: transparent url("../img/load.png") no-repeat center center;
    background-size: contain;
    height: 35px;
    width: 40px;
    position: absolute;
    z-index: 999;
    left: calc(50% - 25px);
    top: calc(50% - 16px);
    display: none;
    animation: junit-loading 3s linear infinite
}

@keyframes junit-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.tb-report{
    background: transparent url("../img/report.png") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0px 10px;
}

.tb-report:hover{
    width: 32px;
}

.tabs{
    border: 1px solid #eeeeee;
    box-sizing: border-box;
}

.tabs nav{
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    background-color: #F7F9EF;
    box-sizing: border-box;
    margin: 0px;
	position: fixed;
	width: 100%;
	top: 0px;
}

nav a{
    display: inline-block;
    color: #6B695F;
    text-decoration: none;
    text-align: center;
    word-break: break-all;
    padding: 0px 25px;
    letter-spacing: 5px;
}

nav a:hover {
    color:#2E3234;
    text-decoration: none;
}

nav a.active {
    background: #CFD3CD;
    color: #fff;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
}

nav a.active:hover{
    color: #fff;
    font-weight: lighter;
}

.cont {
    overflow: hidden;
    display: none;
	padding-top: 35px
}

.cont:nth-child(2){
    display: block;
}

.report{
    display: none;
    position: fixed;
    background-color: #F4F8F4;
    right: 0px;
    border-radius: 5px;
    top: calc(50% - 180px);
}

.report span,.report label{
    display: inline-block;
    width: 50px;
    height: 20px;
    vertical-align: middle;
    text-align: right;
    margin: 5px 10px;
}

.report label{
    width: 80px;
    font-size: 14px;
    margin-left: 0px;
}

.report .success{
    background-color: #48A43F;
}

.report .exception{
    background-color: #FFA421;
}

.report .nosupport{
    background-color: red;
}

.report .nocall{
    background-color: #D3545F;
}

.report .target{
    background-color: #9C6B30;
}

.report .allitem{
    background-color: #A65E2F;
}