<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2388239_l8gdsak1fs.css" />
   
    <script src="static/js/jquery.js"></script>
	<script src="static/js/igw.js"></script>
    <!-- <script>
        var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS
            .supports('top: constant(a)'))
        document.write(
            '<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' +
            (coverSupport ? ', viewport-fit=cover' : '') + '" />')
    </script> -->
    <!-- <script src="static/js/iscpdemo.js"></script> -->
    <!-- <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script> -->
    <!-- <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script> -->
    <link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
</head>

<body>
    <noscript>
        <strong>Please enable JavaScript to continue.</strong>
    </noscript>
    <!-- <script src="static/js/iscpdemo.js"></script> -->
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>