/*每个页面公共css */
$base-green: #05b2cc;
$line-gray: #dde4f2;
page {
  background-color: #dde4f2;
  font-family: PingFangSC-Medium, PingFang SC;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}
.m-8 {
  margin: 8rpx;
}
.m-16 {
  margin: 16rpx;
}
.p-8 {
  padding: 8rpx;
}
.p-16 {
  padding: 16rpx;
}
.m-t-16 {
  margin-top: 16rpx;
}

.m-t-8 {
  margin-top: 8rpx;
}
.m-t-24 {
  margin-top: 24rpx;
}
.m-t-32 {
  margin-top: 32rpx;
}
.m-t-40 {
  margin-top: 40rpx;
}
.m-l-16 {
  margin-left: 16rpx;
}
.m-l-24 {
  margin-left: 24rpx;
}
.m-l-32 {
  margin-left: 32rpx;
}
.m-l-40 {
  margin-left: 40rpx;
}
.m-l-8 {
  margin-left: 8rpx;
}
.m-r-8 {
  margin-right: 8rpx;
}
.m-r-16 {
  margin-right: 16rpx;
}
.m-r-24 {
  margin-right: 24rpx;
}
.m-b-16 {
  margin-bottom: 16rpx;
}
.m-b-32 {
  margin-bottom: 32rpx;
}
.p-l-8 {
  padding-left: 8rpx;
}
.p-l-16 {
  padding-left: 16rpx;
}
.p-b-24 {
  padding-bottom: 24rpx;
}
.p-b-32 {
  padding-bottom: 32rpx;
}
.p-b-48 {
  padding-bottom: 48rpx;
}
.text-ellipsis {
  width: 0;
  overflow: hidden;
  /*超出部分隐藏*/
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
}

.container {
  margin: 0 16rpx;
  background: #ffffff;
  box-shadow: 0px 4rpx 16rpx 0px rgba(14, 23, 37, 0.08);
  border-radius: 24rpx;
  padding: 15rpx 40rpx;
  box-sizing: border-box;
  overflow: hidden;
}

.ef-btn {
  width: 200rpx;
  height: 60rpx !important;
  box-shadow: 0px 4rpx 16rpx 0px rgba(14, 23, 37, 0.08);
  border-radius: 30rpx;
  margin-top: 50rpx;
  background-color: #05b2cc !important;
  font-size: 24rpx !important;
}
.bg-orange {
  background-color: #f7b500;
}
.bg-blue {
  background-color: #05b2cc;
}
.bg-green {
  background-color: #00be27;
}
.base-green-text {
  color: $base-green;
}
.gray-text {
  color: #97a4ae;
}
.green-text {
  color: $base-green;
}
.red-text {
  color: red;
}
.orange-text {
  color: orange;
}
.border-b-gray {
  padding-bottom: 16rpx;
  border-bottom: 1px solid $line-gray;
}
.title-icon {
  height: 32rpx;
}
.ef-btn-normal {
  width: 200rpx;
  height: 60rpx !important;
  margin: 20rpx auto;
}
.btn-primary {
  background-color: #05b2cc !important;
  color: #fff !important;
}
.btn-normal {
  color: #05b2cc !important;
}

.my-video{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index:3000;
}